body {
  min-height: 100%;
  color: rgba(0,0,0,0.54);
  background-color: #fafbfd;
  font-family: 'Poppins', sans-serif !important;
}

main {
  margin-top: 30px !important;
}

img {
  max-width: 100%;
  height: auto;
}

.logo > img {
  height: 100px;
}

.sticky {
  z-index: 1;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.btn-login{
	  background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	  float: right;
	  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 0 15px;
    border-radius: 5px;
    border: 2px solid #18149A;
    width: 143px;
    height: 63px;
}
.btn-login:hover {
    background-color: #18149A;
    color: white;
}
.btn-submit {
	background-color: #18149A;
	border: 2px solid #FFF;
    color: white;
    border-radius: 5px;
	padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
